@font-face {
  font-family: "Metropolis";
  src: local("Metropolis"),
    url(./fonts/metropolis/Metropolis-Regular.otf) format("truetype");
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #f7f6f3;
  font-family: "Metropolis", serif;
  -moz-osx-font-smoothing: grayscale;
}
